*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: end;
    align-items: start;
  height: 100vh;
  width: 100%;
    background-color: #fff;
}
.controlMode{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: teal;
    color: white;
}
button :last-child{
    display: none;
}

.dark{
    background-color: black;
}
.dark button :last-child{
    display: inline-block;
}
.dark button :first-child{
    display: none;
}