* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
button,
i {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @media only screen and (max-width: 767px) {
    padding: 0 5%;
  }
}
body {
  font-family: "Roboto", sans-serif;
}
// header

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid white;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      padding: 2rem 6rem;
      border-left: 1px solid white;
      border-right: 1px solid white;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        li {
          a {
            font-size: 20px;
            transition: all 0.5s;
            &:hover {
              color: #ffc515;
            }
          }
        }
      }
    }
    .contact-phon {
      display: flex;
      gap: 5px;
      p {
        color: #ffc515;
      }
      .fa-solid {
        color: #fff;
      }
      span {
        color: #fff;
      }
    }
    .fa-bars {
      display: none;
      font-size: 2rem;
      color: #fff;
    }
  }
  @media only screen and (max-width: 767px) {
    padding: 2rem 0;
    .header {
      nav {
        display: none;
      }
      .fa-bars {
        display: block;
      }
      .contact-phon {
        display: none;
      }
    }
  }
}
// hero banner

#hero-banner {
  background-image: url("../img/slider-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  .swiper {
  height: 100vh;
    width: 100%;

    .swiper-wrapper {
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .hero-banner {
          display: flex;

          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
          div {
            h1 {
              color: #fff;
              font-size: 4rem;
              span {
                color: #ffc515;
              }
            }
          }
          div {
            p {
              color: #fff;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
// about

#about {
  height: 60vh;
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 2rem 0;
      div {
        border: 3px solid #ffc515;
        width: 200px;
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        p {
          width: 90%;
        }
      }
    }
    @media only screen and (max-width: 1000px) {
      .title {
        div {
          width: 100px;
        }
      }
      .cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media only screen and (max-width: 767px) {
      .cards {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

// banner
#banner {
  background-image: url("../img/review-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .banner {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 2rem 0;
      div {
        border: 3px solid #ffc515;
        width: 200px;
      }
    }
    div {
      h1 {
        color: white;
      }
    }
    div {
      p {
        color: #fff;
        font-size: 20px;
        text-align: center;
        width: 600px;
      }
    }
    div {
      p {
        span {
          color: #ffc515;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      .title {
        div {
          width: 100px;
        }
      }
      div {
        p {
          width: unset;
        }
      }
    }
  }
}

// services
#services {
  .services {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 2rem 0;
      div {
        border: 3px solid #ffc515;
        width: 200px;
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      padding: 3rem 0;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        h2 {
          font-size: 1.2rem;
        }
        p {
          opacity: 0.7;
        }
      }
    }
    @media only screen and (max-width: 1000px) {
      .cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media only screen and (max-width: 767px) {
      .title {
        div {
          width: 100px;
        }
      }
      .cards {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

// menu
#menu {
  background-image: url("../img/review-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .menu {
    padding: 10rem 0;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 2rem 0;
      div {
        border: 3px solid #ffc515;
        width: 200px;
      }
      h1 {
        color: #fff;
      }
    }
    .btns {
      display: flex;
      gap: 20px;
      button {
        color: #fff;
        transition: 0.5s;
        background-color: transparent;
        border: none;
        font-size: 20px;
        &:hover {
          color: #ffc515;
        }
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      padding: 4rem;
      .menu-info-card {
        display: flex;
        flex-direction: column;
        h3 {
          color: white;
          font-size: 20px;
        }
        div {
          display: flex;
          align-items: center;
          p {
            color: white;
            &.desc {
              opacity: 0.6;
            }
          }
          span {
            color: #fff;
          }
        }
      }
    }
    .more {
      padding: 20px 60px;
      border: 1px solid #ffc515;
      color: #111;
      background-color: #ffc515;
      font-weight: 500;
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 767px) {
      .title {
        div {
          width: 100px;
        }
      }
      .content {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}


// footer
footer{
    padding: 4rem 0;
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 2rem 0;
            div {
              border: 3px solid #ffc515;
              width: 200px;
            }
          }   
          div{
            input,textarea{
                width: 400px;
                padding: 20px;
                border: none;
                background-color: #eff4f6;
                outline: none;
            }
            textarea{
                width: 800px;
                
            }
          }

    }
}

// FORM PAGE

#form {
  padding-top: 10rem;
  background-color: #ffc515;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    form {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 20px;
      div {
        input {
          width: 300px;
          padding: 5px 30px;
          outline: none;
        }
      }
      .add {
        padding: 10px 20px;
        color: #111;
        font-weight: 800;
        background-color: #fff;
        border: 1px solid #111;
      }
    }
  }
}

// TABLE

#table {
  height: 80vh;
  table {
    margin: 100px 100px;
    tbody {
      tr {
        td {
          .delete {
            padding: 10px 20px;
            color: #fff;
            font-weight: 800;
            background-color: red;
            border: 1px solid red;
          }
        }
      }
    }
  }
  table,
  tr,
  td,
  th {
    border: 1px solid #ffc515;
    text-align: center;
  }
  tr,
  td,
  th {
    padding: 5px 10px;
  }
  th {
    color: #ffc515;
  }
}
